.titlebox {
    position: absolute;
    width: 459px;
    height: 48px;
    left: 200px;
    top: 80px;
    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;
    color: #FED613;
}

.aboutus {
    position: absolute;
    width: 103px;
    height: 29px;
    left: 642px;
    top: 94px;

    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    /* Gray 6 */

    color: #F2F2F2;
}

.howtoplay {
    position: absolute;
    width: 122px;
    height: 29px;
    left: 772px;
    top: 94px;

    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    /* Gray 6 */

    color: #F2F2F2;
}

.collaborate {
    position: absolute;
    width: 107px;
    height: 29px;
    left: 921px;
    top: 94px;

    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    /* Gray 6 */

    color: #F2F2F2;
}

.es {
    position: absolute;
    width: 27px;
    height: 29px;
    left: 1169px;
    top: 94px;

    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: right;

    /* Gray 6 */

    color: #F2F2F2;
}

.slash {
    position: absolute;
    width: 11px;
    height: 29px;
    left: 1198px;
    top: 94px;

    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: right;

    /* Gray 6 */

    color: #F2F2F2;
}

.pt {
    position: absolute;
    width: 30px;
    height: 29px;
    left: 1210px;
    top: 94px;

    font-family: Aleo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: right;

    /* HYH/Jogadores/Verde */

    color: #219653;
}

.footer {
    position: relative;
    height: 51px;
    left: 0px;
    top: 142px;

    /* Gray 5 */

    background: #E0E0E0;
}

.footertext {
    position: absolute;
    height: 28px;
    left: 200px;
    top: 10px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    
    /* HYH/background */
    
    color: #252C4A;
}